@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --sidebar-bg:#453750;
    --sidebar-bg-darker:#3b2f4e;
    --body-bg-darker:#433559;
    --body-bg:#a393bf;
    --button-bg:#F6AA28;
    
    --font-color: #ffffff;
    --font-default: 'Poppins', sans-serif;

    --nav-width: 250px;
    --nav-width-close: 72px;

    --default-margin: 0rem 5rem 0rem 5rem;
    --content-margin: 3rem 5rem 0rem 5rem;
}

html{
    scroll-behavior: smooth;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
}

body{
    background-color: var(--body-bg);
    color: var(--font-color);
    overflow: hidden;
    position: relative;
}

a{  
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

li{
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--sidebar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-bg-darker);    
}

.container{
    display: flex;
}

/* Default Classes */
.visible{
    opacity: 1;
}

.invisible{
    opacity: 0;
}

.appear{
    display: block;
}

.disappear{
    display: none;
}

/* Header */
header{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: var(--default-margin);
    background-color: var(--sidebar-bg-darker);

}

.header-toggle{
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px; 
}

#toggle-burguer{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.burguer-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.burguer,
.burguer::before,
.burguer::after{
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 6px;
    background-color: var(--button-bg);
    transition: .5s;
}

.burguer::before{
    content: '';
    margin-top: -8px;
}

.burguer::after{
    content: '';
    margin-top: 8px;
}

#toggle-burguer:checked ~ .burguer-container .burguer::before{
    transition: .5s;
    margin-top: 0;
    transform: rotate(45deg);
}

#toggle-burguer:checked ~ .burguer-container .burguer{
    transition: .5s;
    background-color: rgba(0, 0, 0, 0);
}

#toggle-burguer:checked ~ .burguer-container .burguer::after{
    transition: .5s;
    margin-top: 0;
    transform: rotate(-45deg);
}

.header-text{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 200;
}

/* Brand Icon */
.brand-icon{

}

.brand-icon p{
    font-size: 1.4em;
    font-weight: 400;
    font-style: italic;
}

/* Navigation */
.nav-navigation{
    width: 100%;
    font-weight: 200;   
}

.links{
    display: flex;
    gap: 4rem;
}

.nav-link{
    border-radius: 20px;
}

.nav-link a{
    font-size: 1.3em;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 32px;
    transition: .5s;
}

.sidebar-icon{
    width: 32px;    
}

.text{
    font-size: 1em;
}   

/* Contact Widget */
.contact-widget{
    position: fixed;
    z-index: 3;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 0% 50% 50% 50%;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--sidebar-bg-darker);
    transition: .1s;
}

.contact-widget img{
    width: 32px;
}

.contact-widget:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: .1s;
}

/* Content */
.content-padding{
    padding: var(--content-margin);
}

.content-bg{
    background-color: var(--body-bg-darker);
    height: 100vh;
    position: relative;
    z-index: 1;
}

.down{
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translate(-50%, -50%);
}

.down span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid var(--sidebar-bg-darker);
	border-right: 2px solid var(--sidebar-bg-darker);
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.down span:nth-child(2)
{
	animation-delay: -0.2s;
}

.down span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-10px, -10px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(10px, 10px);
	}
}

/* Waves */
.wave{
    position: absolute;
    z-index: -1;
}

/* Highlight Waves */
.wave.highlight{
    bottom: 0;
}

.wave.about{
    bottom: 0;
}

/* Highlight */
.highlight{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.highlight.content-padding{
    padding-top: 8rem;
}

.highlight-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.JS-star{
    color: var(--button-bg);
    text-decoration: underline;
}

.profile-img{
    width: 23rem;
    border-radius: 50%;
    border: 3px solid var(--font-color);
}

.highlight-links{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    width: 100%;
}

.highlight-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    font-size: 1.4rem;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
    transition: .1s;
}


.highlight-link-img{
    width: 32px;
}

.highlight-link:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .1s;
}

.highlight-link.github{
    background-color: var(--body-bg-darker);
    border: 2px solid white;
    color: white;
}

.highlight-link.cv{
    background-color: var(--body-bg);
    border: 2px solid var(--body-bg);
    color: var(--sidebar-bg-darker);
}

.info{
    margin-bottom: 24px;
}

.info p{
    font-size: 1.6em;
    font-weight: 300;
}

.principal-info-mobile{
    display: none;
    justify-content: center;
}

.principal-info-mobile p{
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}

.principal-info p{
    font-size: 3em;
    font-weight: 400;
}

/* About */
.about-bg.content-bg{
    background-color: var(--body-bg);
}

.about.content-padding{
    padding: var(--content-margin);
}

/* Skills */

/* Works */
.works-bg.content-bg{
    background-color: var(--body-bg);
}